@using System.Net
@using Microsoft.AspNetCore.Identity
@model StackUnderflowRDC.Entities.Question

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!User.Identity.IsAuthenticated){<h2>You must login</h2>}
<h2>Create</h2>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <input asp-for="Body" class="form-control" />
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="PostedAt" class="control-label"></label>
                <input asp-for="PostedAt" class="form-control" />
                <span asp-validation-for="PostedAt" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="AnswerId" class="control-label"></label>
                <input asp-for="AnswerId" class="form-control" />
                <span asp-validation-for="AnswerId" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="Score" class="control-label"></label>
                <input asp-for="Score" class="form-control" />
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Answered" /> @Html.DisplayNameFor(model => model.Answered)
                    </label>
                </div>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
